.page-template-faq {
	.faq-header-content {
		text-align: center;
		margin-bottom: 20px;

		@media only screen and (max-width: 600px) {
	  	p {
	  		font-size:13px;
	  	}
	  }
	}
	.panel-default > .panel-heading {
	  background-color: transparent;
	  border: medium none;
	  border-radius: 0;
	  color: inherit;
	  padding: 0;
	  position: relative;
	}
	.panel-heading .panel-title > a {
	  background-color: #cecaca;
	  border: medium none;
	  color: #ffffff;
	  display: block;
	  font-family: Arial,Helvetica,sans-serif;
	  line-height: 28px;
	  padding: 11px 65px 11px 40px;
	  word-wrap: break-word;

	  @media only screen and (max-width: 600px) {
	  	font-size:13px;
	  }
	}

	.panel-heading .panel-title > a::after {
	  bottom: 0;
	  content: "▲";
	  font-family: "Roboto",sans-serif;
	  font-size: 20px;
	  font-weight: 300;
	  letter-spacing: -1px;
	  line-height: 48px;
	  position: absolute;
	  right: 0;
	  text-align: center;
	  top: 0;
	  width: 60px;
	}
	.panel-heading .panel-title > a.collapsed::after {
	  content: "▼";
	}
	.panel-body{
	  height:100px;
	  overflow: auto;

	  @media only screen and (max-width: 600px) {
	  	height:150px;
	  }
	}

}
