/**
* Navbar styles
*/
.navbar{
	.custom-logo-link{
		width: 50px;
	}
	.nav-item{
		list-style-type: none;
		color: white;
	}
	.fa{
		color: white;
		margin: 0 5px 0 5px;
		font-size: 30px;
	}
	.right{
		justify-content: center;
		.nav-item{
			color:red;
		}
	}
}

#search-form{
	display: flex;
	.woocommerce-product-search {
		flex: 1;
	}
}
