#sidebar-menu {
  width: 100%;
  height: 100%;
  background-color: #e9b872;
}

.product-menu-category {
  background-color: #e9b872;
  &:hover {
    background-color: #f0c993;
  }
}

.product-menu-sub-category {
  background-color: #facb88;
}

.sub-cat-title {
  color: black;
  text-decoration: none;
    &:hover {
      color: #b33101;
      text-decoration: none;
    }
  }