#sidebar-menu {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
}

.product-menu-category {
  background-color: #f8f9fa;
  &:hover {
    background-color: #f8f9fa;
  }
}

.product-menu-sub-category {
  background-color: #f8f9fa;
}

.sub-cat-title {
  color: black;
  text-decoration: none;
    &:hover {
      color: #53f;
      text-decoration: none;
    }
  }
